# This program creates an excel file of all professional baseball data

### Importing packages

In [13]:
import statsapi
import pandas as pd
import numpy as np
import os
import openpyxl

In [14]:
print(os.getcwd())  # Check the current working directory
os.chdir("C:\\Users\\jvgas\\OneDrive\\Desktop\\learning\\github\\baseballStatistics\\py4da\\baseballStatistics\\datasets")  # Change the current working directory
print(os.getcwd())  # Verify the directory change

allPlayers = pd.read_excel('All MLB Players.xlsx')

C:\Users\jvgas\OneDrive\Desktop\learning\github\baseballStatistics\py4da\baseballStatistics\datasets
C:\Users\jvgas\OneDrive\Desktop\learning\github\baseballStatistics\py4da\baseballStatistics\datasets

In [22]:
year = '2024'

stats = []
for row in allPlayers['Player ID']:
      response = statsapi.player_stat_data(row, group = 'hitting', type = 'yearByYear', sportId = 1)
      stats.append(response)

dfStats = pd.DataFrame(stats)
dfStats = pd.merge(dfStats, dfStats['stats'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'stats')

dfStats.rename({0:'stats'},axis='columns',inplace=True)
dfStats = dfStats.join(pd.json_normalize(dfStats['stats']))

#dfStats.to_excel('All MLB Data 2024.xlsx', sheet_name='allData')

C:\Users\jvgas\AppData\Local\Temp/ipykernel_21680/728473676.py:9: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  dfStats = pd.merge(dfStats, dfStats['stats'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'stats')

In [19]:
# dfStats.to_excel('All MLB Data 2024.xlsx', sheet_name='allData')
dfStats = pd.read_excel('All MLB Data 2024.xlsx')

In [25]:
statsPerm = stats

In [82]:
stats1 = pd.json_normalize(stats)

In [69]:
stats2 = pd.json_normalize(stats, max_level = 0)

In [83]:
stats1

,id,first_name,last_name,active,current_team,position,nickname,last_played,mlb_debut,bat_side,pitch_hand,stats
0,683548,Adriel,Gonzalez,True,ACL Athletics,P,None,None,None,Right,Right,[]
1,703835,Alejandro,Manzano,True,Stockton Ports,P,None,None,None,Right,Right,[]
2,821163,Alejandro,Pereira,True,DSL Athletics,C,None,None,None,Right,Right,[]
3,664670,Alejo,Lopez,True,Las Vegas Aviators,2B,None,None,2021-06-28,Switch,Right,"[{'type': 'yearByYear', 'group': 'hitting', 's..."
4,812460,Alvin,Nova,True,ACL Athletics,P,None,None,None,Right,Right,[]
...,...,...,...,...,...,...,...,...,...,...,...,...
7431,815898,Yovanny,Rodriguez,True,St. Lucie Mets,C,None,None,None,Right,Right,[]
7432,807848,Yuhi,Sako,True,Brooklyn Cyclones,P,None,None,None,Right,Right,[]
7433,825159,Yunior,Amparo,True,DSL Mets Orange,SS,None,None,None,Right,Right,[]
7434,804267,Zach,Thornton,True,Brooklyn Cyclones,P,None,None,None,Left,Left,[]
7435,676199,Zebulon,Vermillion,True,St. Lucie Mets,P,None,None,None,Left,Right,[]

In [75]:
stats3 = pd.json_normalize(stats2['stats'])

In [77]:
stats4 = pd.json_normalize(stats3)

In [9]:
#dfStats = pd.read_excel('All MLB Data 2024.xlsx')
dfStats1.to_excel('MLB Batting Data.xlsx', sheet_name='allData')

#dfStats1 = pd.read_excel('MLB Batting Data 2024.xlsx')

In [84]:
print(pd.json_normalize(stats1))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
# dfStats = dfStats.drop(['active', 'last_played', 'season', 'mlb_debut', 'nickname', 'pitch_hand', 'stats', 'type', 'group'
#                          , 'stats.gamesPlayed', 'stats.groundOuts', 'stats.airOuts', 'stats.runs', 'stats.doubles' 
#                          , 'stats.triples',	'stats.homeRuns', 'stats.strikeOuts', 'stats.baseOnBalls', 'stats.intentionalWalks'
#                          , 'stats.hits', 'stats.hitByPitch', 'stats.atBats', 'stats.obp', 'stats.slg', 'stats.ops', 'stats.caughtStealing'
#                          , 'stats.totalBases', 'stats.rbi', 'stats.leftOnBase', 'stats.sacBunts', 'stats.sacFlies', 'stats.babip'
#                          , 'stats.groundOutsToAirouts', 'stats.catchersInterference', 'stats.atBatsPerHomeRun', 'stats.stolenBases'
#                          , 'stats.stolenBasePercentage', 'stats.groundIntoDoublePlay', 'stats.numberOfPitches'], axis=1)

In [125]:
# dfStats = pd.merge(dfStats, dfStats['stats'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'stats')
# dfStats = pd.merge(dfStats, dfStats['one'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'one')
# dfStats = pd.merge(dfStats, dfStats['two'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'two')
# dfStats = pd.merge(dfStats, dfStats['three'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'three')
# dfStats = pd.merge(dfStats, dfStats['four'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'four')
# dfStats = pd.merge(dfStats, dfStats['five'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'five')
# dfStats = pd.merge(dfStats, dfStats['six'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'six')
# dfStats = pd.merge(dfStats, dfStats['seven'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'seven')
# dfStats = pd.merge(dfStats, dfStats['eight'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'eight')
# dfStats = pd.merge(dfStats, dfStats['nine'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'nine')
# dfStats = pd.merge(dfStats, dfStats['ten'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'ten')
# dfStats = pd.merge(dfStats, dfStats['eleven'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'eleven')
# dfStats = pd.merge(dfStats, dfStats['twelve'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'twelve')
# dfStats = pd.merge(dfStats, dfStats['thirteen'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'thirteen')
# dfStats = pd.merge(dfStats, dfStats['fourteen'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fourteen')
# dfStats = pd.merge(dfStats, dfStats['fifteen'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fifteen')
# dfStats = pd.merge(dfStats, dfStats['sixteen'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'sixteen')
# dfStats = pd.merge(dfStats, dfStats['seventeen'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'seventeen')
# dfStats = pd.merge(dfStats, dfStats['eighteen'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'eighteen')
# dfStats = pd.merge(dfStats, dfStats['nineteen'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'nineteen')
# dfStats = pd.merge(dfStats, dfStats['twenty'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'twenty')
# dfStats = pd.merge(dfStats, dfStats['twentyone'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'twentyone')
# dfStats = pd.merge(dfStats, dfStats['twentytwo'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'twentytwo')
# dfStats = pd.merge(dfStats, dfStats['twentythree'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'twentythree')
# dfStats = pd.merge(dfStats, dfStats['twentyfour'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'twentyfour')
# dfStats = pd.merge(dfStats, dfStats['twentyfive'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'twentyfive')
# dfStats = pd.merge(dfStats, dfStats['twentysix'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'twentysix')
# dfStats = pd.merge(dfStats, dfStats['twentyseven'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'twentyseven')
# dfStats = pd.merge(dfStats, dfStats['twentyeight'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'twentyeight')
# dfStats = pd.merge(dfStats, dfStats['twentynine'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'twentynine')
# dfStats = pd.merge(dfStats, dfStats['thirty'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'thirty')
# dfStats = pd.merge(dfStats, dfStats['thirtyone'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'thirtyone')
# dfStats = pd.merge(dfStats, dfStats['thirtytwo'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'thirtytwo')
# dfStats = pd.merge(dfStats, dfStats['thirtythree'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'thirtythree')
# dfStats = pd.merge(dfStats, dfStats['thirtyfour'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'thirtyfour')
# dfStats = pd.merge(dfStats, dfStats['thirtyfive'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'thirtyfive')
# dfStats = pd.merge(dfStats, dfStats['thirtysix'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'thirtysix')
# dfStats = pd.merge(dfStats, dfStats['thirtyseven'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'thirtyseven')
# dfStats = pd.merge(dfStats, dfStats['thirtyeight'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'thirtyeight')
# dfStats = pd.merge(dfStats, dfStats['thirtynine'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'thirtynine')
# dfStats = pd.merge(dfStats, dfStats['forty'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'forty')
# dfStats = pd.merge(dfStats, dfStats['fortyone'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fortyone')
# dfStats = pd.merge(dfStats, dfStats['fortytwo'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fortytwo')
# dfStats = pd.merge(dfStats, dfStats['fortythree'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fortythree')
# dfStats = pd.merge(dfStats, dfStats['fortyfour'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fortyfour')
# dfStats = pd.merge(dfStats, dfStats['fortyfive'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fortyfive')
# dfStats = pd.merge(dfStats, dfStats['fortysix'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fortysix')
# dfStats = pd.merge(dfStats, dfStats['fortyseven'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fortyseven')
# dfStats = pd.merge(dfStats, dfStats['fortyeight'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fortyeight')
# dfStats = pd.merge(dfStats, dfStats['fortynine'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fortynine')
# dfStats = pd.merge(dfStats, dfStats['fifty'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fifty')
# dfStats = pd.merge(dfStats, dfStats['fiftyone'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fiftyone')
# dfStats = pd.merge(dfStats, dfStats['fiftytwo'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fiftytwo')
# dfStats = pd.merge(dfStats, dfStats['fiftythree'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fiftythree')
# dfStats = pd.merge(dfStats, dfStats['fiftyfour'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fiftyfour')
# dfStats = pd.merge(dfStats, dfStats['fiftyfive'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fiftyfive')
# dfStats = pd.merge(dfStats, dfStats['fiftysix'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fiftysix')
# dfStats = pd.merge(dfStats, dfStats['fiftyseven'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fiftyseven')
# dfStats = pd.merge(dfStats, dfStats['fiftyeight'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fiftyeight')
# dfStats = pd.merge(dfStats, dfStats['fiftynine'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'fiftynine')
dfStats = pd.merge(dfStats, dfStats['a'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'a')
dfStats = pd.merge(dfStats, dfStats['b'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'b')
dfStats = pd.merge(dfStats, dfStats['c'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'c')
dfStats = pd.merge(dfStats, dfStats['d'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'd')
dfStats = pd.merge(dfStats, dfStats['e'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'e')
dfStats = pd.merge(dfStats, dfStats['f'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'f')
dfStats = pd.merge(dfStats, dfStats['g'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'g')
dfStats = pd.merge(dfStats, dfStats['h'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'h')
dfStats = pd.merge(dfStats, dfStats['i'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'i')
dfStats = pd.merge(dfStats, dfStats['j'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'j')
dfStats = pd.merge(dfStats, dfStats['k'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'k')
dfStats = pd.merge(dfStats, dfStats['l'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'l')
dfStats = pd.merge(dfStats, dfStats['m'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'm')
dfStats = pd.merge(dfStats, dfStats['n'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'n')
dfStats = pd.merge(dfStats, dfStats['o'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'o')
dfStats = pd.merge(dfStats, dfStats['p'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'p')
dfStats = pd.merge(dfStats, dfStats['q'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'q')
dfStats = pd.merge(dfStats, dfStats['r'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'r')
dfStats = pd.merge(dfStats, dfStats['s'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 's')
dfStats = pd.merge(dfStats, dfStats['t'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 't')

# #dfStats = pd.merge(dfStats, dfStats['0_x'].apply(pd.Series), left_index = True, right_index = True).drop(columns = '0_x')

C:\Users\jvgas\AppData\Local\Temp/ipykernel_23732/3860727734.py:64: FutureWarning: Passing 'suffixes' which cause duplicate columns {'0_x'} in the result is deprecated and will raise a MergeError in a future version.
  dfStats = pd.merge(dfStats, dfStats['d'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'd')
C:\Users\jvgas\AppData\Local\Temp/ipykernel_23732/3860727734.py:66: FutureWarning: Passing 'suffixes' which cause duplicate columns {'0_x'} in the result is deprecated and will raise a MergeError in a future version.
  dfStats = pd.merge(dfStats, dfStats['f'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'f')
C:\Users\jvgas\AppData\Local\Temp/ipykernel_23732/3860727734.py:68: FutureWarning: Passing 'suffixes' which cause duplicate columns {'0_x'} in the result is deprecated and will raise a MergeError in a future version.
  dfStats = pd.merge(dfStats, dfStats['h'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'h')
C:\Users\jvgas\AppData\Local\Temp/ipykernel_23732/3860727734.py:70: FutureWarning: Passing 'suffixes' which cause duplicate columns {'0_x'} in the result is deprecated and will raise a MergeError in a future version.
  dfStats = pd.merge(dfStats, dfStats['j'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'j')
C:\Users\jvgas\AppData\Local\Temp/ipykernel_23732/3860727734.py:72: FutureWarning: Passing 'suffixes' which cause duplicate columns {'0_x'} in the result is deprecated and will raise a MergeError in a future version.
  dfStats = pd.merge(dfStats, dfStats['l'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'l')
C:\Users\jvgas\AppData\Local\Temp/ipykernel_23732/3860727734.py:74: FutureWarning: Passing 'suffixes' which cause duplicate columns {'0_x'} in the result is deprecated and will raise a MergeError in a future version.
  dfStats = pd.merge(dfStats, dfStats['n'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'n')
C:\Users\jvgas\AppData\Local\Temp/ipykernel_23732/3860727734.py:76: FutureWarning: Passing 'suffixes' which cause duplicate columns {'0_x'} in the result is deprecated and will raise a MergeError in a future version.
  dfStats = pd.merge(dfStats, dfStats['p'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'p')
C:\Users\jvgas\AppData\Local\Temp/ipykernel_23732/3860727734.py:78: FutureWarning: Passing 'suffixes' which cause duplicate columns {'0_x'} in the result is deprecated and will raise a MergeError in a future version.
  dfStats = pd.merge(dfStats, dfStats['r'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'r')
C:\Users\jvgas\AppData\Local\Temp/ipykernel_23732/3860727734.py:80: FutureWarning: Passing 'suffixes' which cause duplicate columns {'0_x'} in the result is deprecated and will raise a MergeError in a future version.
  dfStats = pd.merge(dfStats, dfStats['t'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 't')

In [122]:
dfStats

,Unnamed: 0,id,first_name,last_name,current_team,position,bat_side,1,2,3,...,13,14,15,16,17,18,19,20,stats.avg,stats.plateAppearances
0,0,683548,Adriel,Gonzalez,ACL Athletics,P,Right,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,703835,Alejandro,Manzano,Stockton Ports,P,Right,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,821163,Alejandro,Pereira,DSL Athletics,C,Right,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,664670,Alejo,Lopez,Las Vegas Aviators,2B,Switch,"{'type': 'yearByYear', 'group': 'hitting', 'se...","{'type': 'yearByYear', 'group': 'hitting', 'se...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.261,23.0
4,4,812460,Alvin,Nova,ACL Athletics,P,Right,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7431,7431,815898,Yovanny,Rodriguez,St. Lucie Mets,C,Right,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7432,7432,807848,Yuhi,Sako,Brooklyn Cyclones,P,Right,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7433,7433,825159,Yunior,Amparo,DSL Mets Orange,SS,Right,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7434,7434,804267,Zach,Thornton,Brooklyn Cyclones,P,Left,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7435,7435,676199,Zebulon,Vermillion,St. Lucie Mets,P,Left,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
dfStats.to_excel('MLB Batting Data 2024 9.xlsx', sheet_name='allData')

## Getting Team ID List

In [2]:
teams = statsapi.get('teams', {'sportId':1}) # gets a dict of teams from the api

dfTeams = pd. DataFrame(teams) # makes a dataframe and stores the dict, 'teams,' as a dataframe
dfTeams = pd.merge(dfTeams, dfTeams['teams'].apply(pd.Series), left_index = True, right_index = True)




### drops the unnecessary columns ###

dfTeams = dfTeams.drop(['copyright', 'teams', 'springLeague', 'allStarStatus', 'link', 'venue',
                        'springVenue', 'locationName', 'firstYearOfPlay', 'league', 'division',
                        'sport', 'shortName', 'franchiseName', 'clubName', 'active', 'teamCode', 'abbreviation', 'teamName', 'fileCode'], axis = 1)




### renames and reorders columns ###

dfTeams = dfTeams.rename(columns = {'id' : 'Team ID', 'name' : 'Team Name', 'season' : 'Season'})
dfTeams = dfTeams[['Season', 'Team Name', 'Team ID']]



### taking team ID columns and turning into a list ###
 
dfTeamIDs = dfTeams['Team ID']
teamIDs = dfTeamIDs.to_list()

## Creating a dataframe of all players for each team

I have to loop through each team manually. I have been unable, so far, to get the for loop to work.

In [ ]:
teamRoster = []

##############################
##############################
####                      ####
x = 121 # team ID number  ####
####                      ####
##############################
##############################

teamId = x 
df = statsapi.get("team_roster", {"teamId": teamId, "rosterType": "fullRoster", "hydrate": "person"}) # getting a dataframe of the team roster of the corresponding team ID number
teamRoster.append(df) # appends the the line of the df onto 'list,' teamRoster

dfTeamRoster = pd.DataFrame(df) # list, 'teamRoster' coverted to dfTeamRoster

dfTeamRoster = dfTeamRoster.drop(['copyright', 'link' , 'rosterType'], axis=1) # drops unnecessary columns



### This section pops out each column of data and then drops the unnecessary columns ###

dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['roster'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'roster')
dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['person'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'person')
dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['position'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'position')
dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['pitchHand'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'pitchHand')
dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['primaryPosition'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'primaryPosition')
dfTeamRoster = dfTeamRoster.drop(['jerseyNumber', 'parentTeamId', 'status', 'fullName', 'link', 'birthDate'
         ,'birthCity', 'birthStateProvince', 'birthCountry', 'height', 'weight'
         ,'active', 'useName', 'useLastName', 'middleName'
         ,'boxscoreName', 'gender', 'isPlayer', 'isVerified', 'batSide', 'nameFirstLast'
         ,'nameSlug', 'firstLastName','lastFirstName', 'lastInitName'
         ,'initLastName', 'fullFMLName', 'fullLFMName', 'strikeZoneTop'
         ,'strikeZoneBottom', 'primaryNumber', 'mlbDebutDate', 'pronunciation', 'nameMatrilineal'
         ,'code_x', 'name_x', 'type_x', 'abbreviation_x', 'code_y', 'description'
         ,'code', 'name_y', 'type_y', 'abbreviation_y', 'draftYear', 'nickName'
         ,'nameTitle', 'nameSuffix', 'note'], axis = 1)




### Couldn't get the for loop to work.  Have to manually loop the teams. ###

#dfAthletics = dfTeamRoster #133
#dfPirates = dfTeamRoster #134
#dfPadres = dfTeamRoster #135
#dfMariners = dfTeamRoster #136
#dfGiants = dfTeamRoster #137
# dfCardinals = dfTeamRoster #138
#dfRays = dfTeamRoster #139
#dfRangers = dfTeamRoster #140
#dfBlueJays = dfTeamRoster #141
#dfTwins = dfTeamRoster #142

#dfPhillies = dfTeamRoster #143
#dfBraves = dfTeamRoster #144
#dfWhiteSox = dfTeamRoster #145
#dfMarlins = dfTeamRoster #146
#dfYankees = dfTeamRoster #147
#dfBrewers = dfTeamRoster #158
#dfAngels = dfTeamRoster #108
#dfDiamondbacks = dfTeamRoster #109
#dfOrioles = dfTeamRoster #110
#dfRedSox = dfTeamRoster #111

#dfCubs = dfTeamRoster #112
#dfReds = dfTeamRoster #113
#dfGuardians = dfTeamRoster #114
#dfRockies = dfTeamRoster #115
#dfTigers = dfTeamRoster #116
#dfAstros = dfTeamRoster #117
#dfRoyals = dfTeamRoster #118
#dfDodgers = dfTeamRoster #119
#dfNationals = dfTeamRoster #120
#dfMets = dfTeamRoster #121

##### Checking the Validity of the team DataFrames

In [ ]:
#dfAthletics
#dfPirates
#dfPadres
#dfMariners
#dfGiants
#dfCardinals
#dfRays
#dfRangers
#dfBlueJays
#dfTwins

#dfPhillies
#dfBraves
#dfWhiteSox
#dfMarlins
#dfYankees
#dfBrewers
#dfAngels
#dfDiamondbacks
#dfOrioles
#dfRedSox

#dfCubs
#dfReds
#dfGuardians
#dfRockies 
#dfTigers
#dfAstros
#dfRoyals
#dfDodgers
#dfNationals
#dfMets

     teamId      id firstName    lastName  currentAge
0       121  805999    Andrew       Ewing          20
1       121  621345      Alex      Minter          31
2       121  830464     Abner        Meza          17
3       121  640470    Adbert     Alzolay          30
4       121  827441    Adolfo     Miranda          18
..      ...     ...       ...         ...         ...
263     121  815898   Yovanny   Rodriguez          18
264     121  807848      Yuhi        Sako          25
265     121  825159    Yunior      Amparo          18
266     121  804267   Zachary    Thornton          23
267     121  676199   Zebulon  Vermillion          26

[268 rows x 5 columns]

#### Dropping leftover columns

In [64]:
dfMariners = dfMariners.drop(['lastPlayedDate'], axis = 1)
dfGiants = dfGiants.drop(['lastPlayedDate'], axis = 1)
dfDodgers = dfDodgers.drop(['lastPlayedDate'], axis = 1)

## Joining all the teamRoster dataframes

In [65]:
frames = [dfAthletics, dfPirates, dfPadres, dfMariners, dfGiants, dfCardinals
          , dfRays, dfRangers, dfBlueJays, dfTwins, dfPhillies, dfBraves, dfWhiteSox
          , dfMarlins, dfYankees, dfBrewers, dfAngels, dfDiamondbacks, dfOrioles
          , dfRedSox, dfCubs, dfReds, dfGuardians, dfRockies, dfTigers, dfAstros
          , dfRoyals, dfDodgers, dfNationals, dfMets]

dfAllTeamRosters = pd.concat(frames)

### Renaming and Reordering the Columns ###


dfAllTeamRosters.rename(columns={'teamId': 'Team ID', 'id' : 'Player ID', 'firstName': 'First Name', 'lastName': 'Last Name', 'currentAge' : 'Age'}, inplace=True)
allPlayers = dfAllTeamRosters[['Player ID', 'Team ID', 'First Name', 'Last Name', 'Age']]

## Save as excel

#### Set WD

In [ ]:
import os
import openpyxl 

print(os.getcwd())  # Check the current working directory
os.chdir("C:\\Users\\jvgas\\OneDrive\\Desktop\\learning\\github\\baseballStatistics\\py4da\\baseballStatistics\\datasets")  # Change the current working directory
print(os.getcwd())  # Verify the directory change

c:\Users\jvgas\OneDrive\Desktop\learning\github\baseballStatistics\py4da\baseballStatistics\histograms
C:\Users\jvgas\OneDrive\Desktop\learning\github\baseballStatistics\py4da\baseballStatistics\datasets

### Saving to excel sheet

In [70]:
allPlayers.to_excel('All MLB Players.xlsx', sheet_name='allPlayers')

In [71]:
year = '2024'

stats = []
for row in allPlayers['Player ID']:
      response = statsapi.player_stat_data(row, group = 'hitting', type = 'yearByYear', sportId = 1)
      stats.append(response)

dfStats = pd.DataFrame(stats)
dfStats = pd.merge(dfStats, dfStats['stats'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'stats')

dfStats.rename({0:'stats'},axis='columns',inplace=True)
dfStats = dfStats.join(pd.json_normalize(dfStats['stats']))

C:\Users\jvgas\AppData\Local\Temp/ipykernel_12444/2895569647.py:9: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  dfStats = pd.merge(dfStats, dfStats['stats'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'stats')

In [78]:
dfStats

,id,first_name,last_name,active,current_team,position,nickname,last_played,mlb_debut,bat_side,...,stats.sacFlies,stats.babip,stats.groundOutsToAirouts,stats.catchersInterference,stats.atBatsPerHomeRun,0,type_y,group_y,season_y,stats_y
0,683548,Adriel,Gonzalez,True,ACL Athletics,P,None,None,None,Right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,703835,Alejandro,Manzano,True,Stockton Ports,P,None,None,None,Right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,821163,Alejandro,Pereira,True,DSL Athletics,C,None,None,None,Right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,664670,Alejo,Lopez,True,Las Vegas Aviators,2B,None,None,2021-06-28,Switch,...,0.0,.333,1.40,0.0,-.--,NaN,yearByYear,hitting,2021,"{'gamesPlayed': 14, 'groundOuts': 7, 'airOuts'..."
4,812460,Alvin,Nova,True,ACL Athletics,P,None,None,None,Right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7431,815898,Yovanny,Rodriguez,True,St. Lucie Mets,C,None,None,None,Right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7432,807848,Yuhi,Sako,True,Brooklyn Cyclones,P,None,None,None,Right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7433,825159,Yunior,Amparo,True,DSL Mets Orange,SS,None,None,None,Right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7434,804267,Zach,Thornton,True,Brooklyn Cyclones,P,None,None,None,Left,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7435,676199,Zebulon,Vermillion,True,St. Lucie Mets,P,None,None,None,Left,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
#dfStats = pd.merge(dfStats, dfStats['stats'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'stats')
#dfStats = pd.merge(dfStats, dfStats['stats_x'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'stats_x')
dfStats = pd.merge(dfStats, dfStats['1'].apply(pd.Series), left_index = True, right_index = True).drop(columns = '1')

KeyError: '1'

In [80]:
dfStats.to_excel('MLB Batting Data 2024.xlsx', sheet_name='allData')

In [84]:
res = list(dfStats.columns)
print(res)

['id', 'first_name', 'last_name', 'active', 'current_team', 'position', 'nickname', 'last_played', 'mlb_debut', 'bat_side', 'pitch_hand', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 'type_x', 'group_x', 'season_x', 'stats.gamesPlayed', 'stats.groundOuts', 'stats.airOuts', 'stats.runs', 'stats.doubles', 'stats.triples', 'stats.homeRuns', 'stats.strikeOuts', 'stats.baseOnBalls', 'stats.intentionalWalks', 'stats.hits', 'stats.hitByPitch', 'stats.avg', 'stats.atBats', 'stats.obp', 'stats.slg', 'stats.ops', 'stats.caughtStealing', 'stats.stolenBases', 'stats.stolenBasePercentage', 'stats.groundIntoDoublePlay', 'stats.numberOfPitches', 'stats.plateAppearances', 'stats.totalBases', 'stats.rbi', 'stats.leftOnBase', 'stats.sacBunts', 'stats.sacFlies', 'stats.babip', 'stats.groundOutsToAirouts', 'stats.catchersInterference', 'stats.atBatsPerHomeRun', '0_x', 'type_y', 'group_y', 'season_y', 'stats_y', '0_y', 'type', 'group', 'season', 'stats']

In [ ]:
import os
import openpyxl 

print(os.getcwd())  # Check the current working directory
os.chdir("C:\\Users\\jvgas\\OneDrive\\Desktop\\learning\\github\\baseballStatistics\\py4da\\baseballStatistics\\datasets")  # Change the current working directory
print(os.getcwd())  # Verify the directory change

allPlayers = pd.read_excel('All MLB PLayers.xlsx')

c:\Users\jvgas\OneDrive\Desktop\learning\github\baseballStatistics\py4da\baseballStatistics\programs
C:\Users\jvgas\OneDrive\Desktop\learning\github\baseballStatistics\py4da\baseballStatistics\datasets

In [8]:
dfAllPlayers = pd.DataFrame(allPlayers1)

In [10]:
allPlayers = pd.read_excel('All MLB PLayers.xlsx')

In [11]:
allPlayers

      Unnamed: 0  Player ID  Team ID First Name   Last Name   Age
0              0     683548      133     Adriel    Gonzalez  22.0
1              1     703835      133  Alejandro     Manzano  23.0
2              2     821163      133  Alejandro     Pereira  17.0
3              3     664670      133      Jesus       Lopez  28.0
4              4     812460      133      Alvin        Nova  19.0
...          ...        ...      ...        ...         ...   ...
7431         263     815898      121    Yovanny   Rodriguez  18.0
7432         264     807848      121       Yuhi        Sako  25.0
7433         265     825159      121     Yunior      Amparo  18.0
7434         266     804267      121    Zachary    Thornton  23.0
7435         267     676199      121    Zebulon  Vermillion  26.0

[7436 rows x 6 columns]

All 2024 Players

In [134]:
names = []

for player in statsapi.lookup_player('2024'):
    names.append(player)
    #print(names)
dfNames = pd.DataFrame(names)

dfNames = dfNames.drop(['primaryNumber', 'currentTeam' , 'useName', 'boxscoreName',
                       'nickName', 'mlbDebutDate', 'nameSlug', 'firstLastName', 'lastFirstName', 'lastInitName',
                       'initLastName', 'fullFMLName', 'fullLFMName', 'nameFirstLast'], axis=1)


index_position = dfNames[dfNames['primaryPosition'] == {'code': '1', 'abbreviation': 'P'}].index
dfNames.drop(index_position, inplace = True) 

dfNames = dfNames.rename(columns = {'id':'Player ID', 'fullName':'Full Name', 'firstName':'First Name', 'lastName':'Last Name'}).drop(columns = 'primaryPosition')
dfNames = dfNames[['Player ID', 'First Name', 'Last Name', 'Full Name']]

All players by Selected Statistic (Batting Average)

In [127]:
dfNames
#index_position

     Player ID First Name  Last Name          Full Name
0       682668  Luisangel      Acuña    Luisangel Acuña
1       682634      Kevin  Alcantara    Kevin Alcántara
3       677942      Blaze  Alexander    Blaze Alexander
4       680769    Charles  Alexander       CJ Alexander
5       805373    Ignacio    Alvarez  Nacho Alvarez Jr.
..         ...        ...        ...                ...
191     695238    William     Wagner        Will Wagner
195     694376       Shay   Whitcomb      Shay Whitcomb
197     805779      Jacob     Wilson       Jacob Wilson
199     695578      James       Wood         James Wood
202     694377   Nicholas      Yorke         Nick Yorke

[90 rows x 4 columns]

In [141]:
year = '2024'

stats = []
for row in dfNames['Player ID']:
      response = statsapi.player_stat_data(row, group = 'hitting', type = 'yearByYear', sportId = 1)
      stats.append(response)

dfStats = pd.DataFrame(stats)
dfStats = pd.merge(dfStats, dfStats['stats'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'stats')

dfStats.rename({0:'stats'},axis='columns',inplace=True)
dfStats = dfStats.join(pd.json_normalize(dfStats['stats']))

# dfStats = dfStats.drop(['active', 'last_played', 'season', 'mlb_debut', 'nickname', 'pitch_hand', 'stats', 'type', 'group'
#                         , 'stats.gamesPlayed', 'stats.groundOuts', 'stats.airOuts', 'stats.runs', 'stats.doubles' 
#                         , 'stats.triples',	'stats.homeRuns', 'stats.strikeOuts', 'stats.baseOnBalls', 'stats.intentionalWalks'
#                         , 'stats.hits', 'stats.hitByPitch', 'stats.atBats', 'stats.obp', 'stats.slg', 'stats.ops', 'stats.caughtStealing'
#                         , 'stats.totalBases', 'stats.rbi', 'stats.leftOnBase', 'stats.sacBunts', 'stats.sacFlies', 'stats.babip'
#                         , 'stats.groundOutsToAirouts', 'stats.catchersInterference', 'stats.atBatsPerHomeRun', 'stats.stolenBases'
#                         , 'stats.stolenBasePercentage', 'stats.groundIntoDoublePlay', 'stats.numberOfPitches'], axis=1)

# dfStats = dfStats.rename(columns = {'id':'Player ID','first_name':'First Name', 'last_name':'Last Name'
#                                     , 'current_team':'Team', 'position':'Position', 'bat_side':'Batting Side'
#                                     , 'stats.avg':'Batting Average', 'stats.plateAppearances':'Plate Appearances'})

# dfStats = dfStats.rename(columns = {1:'1',2:'2'}).drop(columns = '1')
# dfStats = dfStats.drop(columns = '2')

In [142]:
dfStats

,id,first_name,last_name,active,current_team,position,nickname,last_played,mlb_debut,bat_side,...,stats.plateAppearances,stats.totalBases,stats.rbi,stats.leftOnBase,stats.sacBunts,stats.sacFlies,stats.babip,stats.groundOutsToAirouts,stats.catchersInterference,stats.atBatsPerHomeRun
0,682668,Luisangel,Acuña,True,New York Mets,SS,Jose,None,2024-09-14,Right,...,40,25,6,10,0,0,.300,0.91,0,13.00
1,682634,Kevin,Alcantara,True,Chicago Cubs,RF,None,None,2024-09-25,Right,...,10,1,0,3,0,0,.111,7.00,0,-.--
2,677942,Blaze,Alexander,True,Arizona Diamondbacks,SS,None,None,2024-03-28,Right,...,185,57,21,80,1,0,.333,1.20,0,55.33
3,680769,CJ,Alexander,True,Athletics,3B,None,None,2024-06-24,Left,...,8,1,0,6,0,0,.200,0.33,0,-.--
4,805373,Nacho,Alvarez,True,Atlanta Braves,SS,None,None,2024-07-22,Right,...,32,3,0,13,0,0,.150,0.89,0,-.--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,695238,Will,Wagner,True,Toronto Blue Jays,2B,None,None,2024-06-26,Left,...,86,37,11,34,0,0,.359,1.73,0,41.00
86,694376,Shay,Whitcomb,True,Houston Astros,SS,None,None,2024-08-17,Right,...,46,12,5,13,0,0,.273,0.60,0,-.--
87,805779,Jacob,Wilson,True,Athletics,SS,None,None,2024-07-19,Right,...,103,29,3,33,1,1,.277,1.54,0,-.--
88,695578,James,Wood,True,Washington Nationals,LF,None,None,2024-07-01,Left,...,336,126,41,122,0,0,.365,1.79,0,32.78
89,694377,Nick,Yorke,True,Pittsburgh Pirates,2B,None,None,2024-09-16,Right,...,42,14,5,16,0,1,.250,1.57,0,18.50

Analysis - Isolating for chosen Statistic (batting average)

In [ ]:
dfAvg = pd.DataFrame(dfStats)
dfAvg = dfAvg.drop(['Team', 'Position', 'Batting Side'], axis = 1)

index_names = dfAvg[ dfAvg['Plate Appearances'] < 100].index 
  
# drop these row indexes 
# from dataFrame 
dfAvg.drop(index_names, inplace = True) 
  
dfAvg 

#qualAvg = pd.DataFrame(dfAvg)
#qual = dfAvg[dfAvg['Plate Appearances'] < 100].index

#qualAvg = dfAvg.drop(qual, inplace = True)

In [ ]:
qual