# This program creates an excel file of all professional baseball players

### Importing packages

In [3]:
import statsapi
import pandas as pd
import numpy as np

## Getting Team ID List

In [2]:
teams = statsapi.get('teams', {'sportId':1}) # gets a dict of teams from the api

dfTeams = pd. DataFrame(teams) # makes a dataframe and stores the dict, 'teams,' as a dataframe
dfTeams = pd.merge(dfTeams, dfTeams['teams'].apply(pd.Series), left_index = True, right_index = True)




### drops the unnecessary columns ###

dfTeams = dfTeams.drop(['copyright', 'teams', 'springLeague', 'allStarStatus', 'link', 'venue',
                        'springVenue', 'locationName', 'firstYearOfPlay', 'league', 'division',
                        'sport', 'shortName', 'franchiseName', 'clubName', 'active', 'teamCode', 'abbreviation', 'teamName', 'fileCode'], axis = 1)




### renames and reorders columns ###

dfTeams = dfTeams.rename(columns = {'id' : 'Team ID', 'name' : 'Team Name', 'season' : 'Season'})
dfTeams = dfTeams[['Season', 'Team Name', 'Team ID']]



### taking team ID columns and turning into a list ###
 
dfTeamIDs = dfTeams['Team ID']
teamIDs = dfTeamIDs.to_list()

## Creating a dataframe of all players for each team

I have to loop through each team manually. I have been unable, so far, to get the for loop to work.

In [ ]:
teamRoster = []

##############################
##############################
####                      ####
x = 121 # team ID number  ####
####                      ####
##############################
##############################

teamId = x 
df = statsapi.get("team_roster", {"teamId": teamId, "rosterType": "fullRoster", "hydrate": "person"}) # getting a dataframe of the team roster of the corresponding team ID number
teamRoster.append(df) # appends the the line of the df onto 'list,' teamRoster

dfTeamRoster = pd.DataFrame(df) # list, 'teamRoster' coverted to dfTeamRoster

dfTeamRoster = dfTeamRoster.drop(['copyright', 'link' , 'rosterType'], axis=1) # drops unnecessary columns



### This section pops out each column of data and then drops the unnecessary columns ###

dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['roster'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'roster')
dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['person'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'person')
dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['position'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'position')
dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['pitchHand'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'pitchHand')
dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['primaryPosition'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'primaryPosition')
dfTeamRoster = dfTeamRoster.drop(['jerseyNumber', 'parentTeamId', 'status', 'fullName', 'link', 'birthDate'
         ,'birthCity', 'birthStateProvince', 'birthCountry', 'height', 'weight'
         ,'active', 'useName', 'useLastName', 'middleName'
         ,'boxscoreName', 'gender', 'isPlayer', 'isVerified', 'batSide', 'nameFirstLast'
         ,'nameSlug', 'firstLastName','lastFirstName', 'lastInitName'
         ,'initLastName', 'fullFMLName', 'fullLFMName', 'strikeZoneTop'
         ,'strikeZoneBottom', 'primaryNumber', 'mlbDebutDate', 'pronunciation', 'nameMatrilineal'
         ,'code_x', 'name_x', 'type_x', 'abbreviation_x', 'code_y', 'description'
         ,'code', 'name_y', 'type_y', 'abbreviation_y', 'draftYear', 'nickName'
         ,'nameTitle', 'nameSuffix', 'note'], axis = 1)




### Couldn't get the for loop to work.  Have to manually loop the teams. ###

#dfAthletics = dfTeamRoster #133
#dfPirates = dfTeamRoster #134
#dfPadres = dfTeamRoster #135
#dfMariners = dfTeamRoster #136
#dfGiants = dfTeamRoster #137
# dfCardinals = dfTeamRoster #138
#dfRays = dfTeamRoster #139
#dfRangers = dfTeamRoster #140
#dfBlueJays = dfTeamRoster #141
#dfTwins = dfTeamRoster #142

#dfPhillies = dfTeamRoster #143
#dfBraves = dfTeamRoster #144
#dfWhiteSox = dfTeamRoster #145
#dfMarlins = dfTeamRoster #146
#dfYankees = dfTeamRoster #147
#dfBrewers = dfTeamRoster #158
#dfAngels = dfTeamRoster #108
#dfDiamondbacks = dfTeamRoster #109
#dfOrioles = dfTeamRoster #110
#dfRedSox = dfTeamRoster #111

#dfCubs = dfTeamRoster #112
#dfReds = dfTeamRoster #113
#dfGuardians = dfTeamRoster #114
#dfRockies = dfTeamRoster #115
#dfTigers = dfTeamRoster #116
#dfAstros = dfTeamRoster #117
#dfRoyals = dfTeamRoster #118
#dfDodgers = dfTeamRoster #119
#dfNationals = dfTeamRoster #120
#dfMets = dfTeamRoster #121

##### Checking the Validity of the team DataFrames

In [ ]:
#dfAthletics
#dfPirates
#dfPadres
#dfMariners
#dfGiants
#dfCardinals
#dfRays
#dfRangers
#dfBlueJays
#dfTwins

#dfPhillies
#dfBraves
#dfWhiteSox
#dfMarlins
#dfYankees
#dfBrewers
#dfAngels
#dfDiamondbacks
#dfOrioles
#dfRedSox

#dfCubs
#dfReds
#dfGuardians
#dfRockies 
#dfTigers
#dfAstros
#dfRoyals
#dfDodgers
#dfNationals
#dfMets

     teamId      id firstName    lastName  currentAge
0       121  805999    Andrew       Ewing          20
1       121  621345      Alex      Minter          31
2       121  830464     Abner        Meza          17
3       121  640470    Adbert     Alzolay          30
4       121  827441    Adolfo     Miranda          18
..      ...     ...       ...         ...         ...
263     121  815898   Yovanny   Rodriguez          18
264     121  807848      Yuhi        Sako          25
265     121  825159    Yunior      Amparo          18
266     121  804267   Zachary    Thornton          23
267     121  676199   Zebulon  Vermillion          26

[268 rows x 5 columns]

#### Dropping leftover columns

In [ ]:
dfMariners = dfMariners.drop(['lastPlayedDate'], axis = 1)
dfGiants = dfGiants.drop(['lastPlayedDate'], axis = 1)
dfDodgers = dfDodgers.drop(['lastPlayedDate'], axis = 1)

## Joining all the teamRoster dataframes

In [65]:
frames = [dfAthletics, dfPirates, dfPadres, dfMariners, dfGiants, dfCardinals
          , dfRays, dfRangers, dfBlueJays, dfTwins, dfPhillies, dfBraves, dfWhiteSox
          , dfMarlins, dfYankees, dfBrewers, dfAngels, dfDiamondbacks, dfOrioles
          , dfRedSox, dfCubs, dfReds, dfGuardians, dfRockies, dfTigers, dfAstros
          , dfRoyals, dfDodgers, dfNationals, dfMets]

dfAllTeamRosters = pd.concat(frames)

### Renaming and Reordering the Columns ###


dfAllTeamRosters.rename(columns={'teamId': 'Team ID', 'id' : 'Player ID', 'firstName': 'First Name', 'lastName': 'Last Name', 'currentAge' : 'Age'}, inplace=True)
allPlayers = dfAllTeamRosters[['Player ID', 'Team ID', 'First Name', 'Last Name', 'Age']]

## Save as excel

#### Set WD

In [ ]:
import os
import openpyxl 

print(os.getcwd())  # Check the current working directory
os.chdir("C:\\Users\\jvgas\\OneDrive\\Desktop\\learning\\github\\baseballStatistics\\py4da\\baseballStatistics\\datasets")  # Change the current working directory
print(os.getcwd())  # Verify the directory change

c:\Users\jvgas\OneDrive\Desktop\learning\github\baseballStatistics\py4da\baseballStatistics\histograms
C:\Users\jvgas\OneDrive\Desktop\learning\github\baseballStatistics\py4da\baseballStatistics\datasets

### Saving to excel sheet

In [70]:
allPlayers.to_excel('All MLB Players.xlsx', sheet_name='allPlayers')