## Here are the exercises in Chapter Five of the Statistics Textbook

### Exercise Set A

#### #1.)  On a certain exam, the average of the scores was 50 and the SD was 10.
a.) Convert each of the following scores to standar units: 60, 45, 75.

In [5]:
avg = 50
sd = 10
x = 60

standardUnit = ((x-avg)/sd)
print('The standard unit for', x, 'is', standardUnit, '.')

x = 45

standardUnit = ((x-avg)/sd)
print('The standard unit for', x, 'is', standardUnit, '.')

x = 75

standardUnit = ((x-avg)/sd)
print('The standard unit for', x, 'is', standardUnit, '.')

The standard unit for 60 is 1.0 .
The standard unit for 45 is -0.5 .
The standard unit for 75 is 2.5 .

#### #1.)  On a certain exam, the average of the scores was 50 and the SD was 10.
b.) Find the scores which in the standard units are: 0, +1.5, -2.8.

In [7]:
avg= 50
sd = 10
standardUnit = 0

score = (standardUnit * sd) + avg
print('The score for standard unit', standardUnit, 'is', score, '.')  

standardUnit = 1.5

score = (standardUnit * sd) + avg
print('The score for standard unit', standardUnit, 'is', score, '.')

standardUnit = -2.8

score = (standardUnit * sd) + avg
print('The score for standard unit', standardUnit, 'is', score, '.')

The score for standard unit 0 is 50 .
The score for standard unit 1.5 is 65.0 .
The score for standard unit -2.8 is 22.0 .

#### #2.)  a.) Convert each entry on the following list to standard units (that is, using the average and SD of the list): 13, 9, 11, 7, 10.

In [20]:
import statistics as stats

list = [13, 9, 11, 7, 10]
n = len(list)
avg = sum(list) / len(list)
print('The average is', avg, '.')

sd = round(stats.stdev(list),2)
print('The standard deviation is', sd, '.')

list2 = []
for x in list:
    standardUnit = round(((x-avg)/sd), 2)
    list2.append(standardUnit)
    print('The standard unit for', x, 'is', round(standardUnit,2), '.')
    print(list2)

The average is 10.0 .
The standard deviation is 2.24 .
The standard unit for 13 is 1.34 .
[1.34]
The standard unit for 9 is -0.45 .
[1.34, -0.45]
The standard unit for 11 is 0.45 .
[1.34, -0.45, 0.45]
The standard unit for 7 is -1.34 .
[1.34, -0.45, 0.45, -1.34]
The standard unit for 10 is 0.0 .
[1.34, -0.45, 0.45, -1.34, 0.0]

#### #2.)  b.) Find the average and the SD of the converted list.

In [21]:
n2 = len(list2)
avg2 = sum(list2) / len(list2)

print( 'The average of the converted list is', round(avg2,2), '.')
print('The standard deviation of the converted list is', round(stats.stdev(list2),2), '.' )

The average of the converted list is 0.0 .
The standard deviation of the converted list is 1.0 .

### Exercise Set B

#### #1.)  Find the area under the normal curve

In [10]:
# a.) to the right of 1.25

z = 1.25
area = 78.87

areaOutside = 100 - 78.87
areaRight = areaOutside / 2

print('#a.) The area to the right of', z, 'is', round(areaRight,2), '%.')


# b.) to the left of -0.40

z = -0.40
area = 31.08

areaOutside = 100 - 31.08
areaLeft = areaOutside / 2

print('#b.) The area to the left of', z, 'is', round(areaLeft,2), '%.')


# c.) to the left of 0.80

z = 0.80
area = 57.63

areaOutside = 100 - 57.63
areaLeft = (areaOutside / 2) + 57.63

print('#c.) The area to the left of', z, 'is', round(areaLeft,2), '%.')

# d.) between 0.40 and 1.30

z1 = 0.40
area1 = 31.08
z2 = 1.30
area2 = 80.64

area1a = 31.08 / 2
area2a = 80.64 / 2

areaBetween = area2a - area1a   

print('#d.) The area between', z1, 'and', z2, 'is', round(areaBetween,2), '%.')

# e.) between -0.30 and 0.90

z1 = -0.30
area1 = 23.58
z2 = 0.90
area2 = 63.19

area1a = 23.58 / 2
area2a = 63.19 / 2
areaBetween = area2a + area1a

print('#e.) The area between', z1, 'and', z2, 'is', round(areaBetween,2), '%.')

#f.) outside -1.5 to 1.5

z = 1.5
area = 86.64
areaOutside = 100 - 86.64

print('#f.) The area outside -1.5 to 1.5 is', round(areaOutside,2), '%.')

#a.) The area to the right of 1.25 is 10.56 %.
#b.) The area to the left of -0.4 is 34.46 %.
#c.) The area to the left of 0.8 is 78.81 %.
#d.) The area between 0.4 and 1.3 is 24.78 %.
#e.) The area between -0.3 and 0.9 is 43.38 %.
#f.) The area outside -1.5 to 1.5 is 13.36 %.

#### #2.) Fill in the blanks

In [11]:
#a.) The area between +/- ________ under the normal curve is 68%

print('a.) The area between +/- 1.00 under the normal curve is 68%.')


#b.) The area between +/- ________ under the normal curve is 75%
print('b.) The area between +/- 1.15 under the normal curve is 75%.')

a.) The area between +/- 1.00 under the normal curve is 68%.
b.) The area between +/- 1.15 under the normal curve is 75%.

#### #3.)  The normal curve is sketched below; solve for z

In [12]:
print('a.) z = 1.65')

print('b.) z = 1.29')

a.) z = 1.65
b.) z = 1.29

#### #4.) A certain curve (not the normal) is sketched below. The total area under it is 100%, and the area betwwen 0 and 1 is 39%.

In [13]:
#a.) If possible, find the area to the right of 1

z = 1.00
area = 39

areaRight = 100 - area

print('#a.) The area to the right of', z, 'is', areaRight, '%.')

#### #2.) If possible, find the area between 0 and 0.5

z = 0.5
bigArea = 39
area = bigArea/2

print('#2.) The area between 0 and', z, 'is', area, '%.')

#a.) The area to the right of 1.0 is 61 %.
#2.) The area between 0 and 0.5 is 19.5 %.

In [24]:
#### #5.)  A certain curve (not the normal) is sketched belwo. It is symmetric around 0, and the total area under it is 100%. The area between -1 and 1 is 58%

bigArea = 58

# a.) If possible, find the area between 0 and 1

z = 1
area1 = bigArea / 2
print('#a.) The area between 0 and', z, 'is', area1, '%.')

#b.) If possible, find the area to the right of 1.

z = 1
area2 = 100 - area1
print('#b.) The area to the right of', z, 'is', area2, '%.')

#c.) If possible, find the area to the right of 2

z = 2
area3 = 'not possible'
print('#c.) Finding the area to the right of', z, 'is', area3, '.')

#a.) The area between 0 and 1 is 29.0 %.
#b.) The area to the right of 1 is 71.0 %.
#c.) Finding the area to the right of 2 is not possible .

### Exercise Set C

#### #1.) For the women age 18 - 24 in HANES2, the average height was about 64.3 inches; the SD was about 2.6 inches. Using the normal curve, estimate the percentage of women with heights...

In [29]:
#a.) below 66 inches.

SD = 2.6
avg = 64.3
x1 = 66

z = (x1 - avg) / SD
print('a.) The z-score for 66 inches is', round(z,2), '.')
areaA = 48.43
areaOutsideA = 100 - areaA
below66 = areaOutsideA / 2
print('The percent of women shorter than 66 inches is', round(below66,2), '%.')

#b.) between 60 inches and 66 inches

x2 = 60
z2 = (x2 - avg) / SD
print('b.) The z-score for 60 inches is', round(z2,2), '.')

a.) The z-score for 66 inches is 0.65 .
The percent of women shorter than 66 inches is 25.79 %.
b.) The z-score for 60 inches is -1.65 .

### Exercise Set F

#### #1.) A group of people have an average temperature of 98.6F, with an SD of 0.3F

In [14]:
# a.)  Translate these results into Celcius

AVGf = 98.6
AVGc = ((AVGf - 32) / (9/5))

SDf= 0.3
SDc = 1.8 * SDf

print('The average temperature in Celcius is:', AVGc , 'and the new SD is:', SDc,'.')


# b.)  Someone's temperature is 1.5 SDs above the average on the Fahrenheit scale. Convert this temperature to standard units, for an investigator who is using the Celsius scale.

tempF = AVGf + (1.5 * SDf)
print('The temperature in Fahrenheit is:', tempF , '.')
tempC = (tempF - 32) / (9/5)
print('The temperature in Celcius is:', tempC , '.')

The average temperature in Celcius is: 36.99999999999999 and the new SD is: 0.54 .
The temperature in Fahrenheit is: 99.05 .
The temperature in Celcius is: 37.25 .